version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: bumdes
      POSTGRES_PASSWORD: bumdes_pass
      POSTGRES_DB: bumdesdb
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./server
    env_file:
      - ./server/.env
    ports:
      - "4000:4000"
    depends_on:
      - db

  frontend:
    build: .
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  db_data:
